<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Base.Source" value="localhost"/>
    <add key="Base.UsuarioId" value=""/>
    <add key="Base.Password" value=""/>
    <add key="Base.Initial" value="PRUEBA_1024"/>
    <add key="Base.Timeout" value="60"/>
    <add key="Base.Security" value="True"/>
  </appSettings>
</configuration>